.pace {
    display: none;
}

.main-style {
    min-height: 100vh;
    background: url(../img/cover/cover-scrum-board.png) no-repeat fixed;
    background-size: 360px;
    background-position: right bottom;
}
body{
    background-color: #FAF6EF;
}
.condition{
    background-color: rgb(193, 206, 142,0.7);
}
.tasksContainer{
    background-color: #E6EEC7;
}
.tasks{
    background-color: #FAF7F0;
}
.high{
    background-color: #D9CDB8;
} 
.btn{
    border: 3px solid #D9CDB8;
}