.pace {
    display: none;
}

.main-style {
    min-height: 100vh;
    background: url(../img/cover/cover-scrum-board.png) no-repeat fixed;
    background-size: 360px;
    background-position: right bottom;
}
body{
    background-color: #FAF6EF;
}
button.addTask{
    border: 2px solid lightcoral;
    background-color:#D9CDB8;
    width: 100px;
}
.toDo{
    background-color: rgb(193, 206, 142,0.8);
}
.inProgress{
    background-color: rgb(219, 227, 181,0.8);
}
.spinner-border{
    width: 15px; 
    height: 15px;
}
.done{
    background-color: rgb(223, 232, 204,0.8);
}
.tasksContainer{
    background-color: #E6EEC7;
}
.tasks{
    background-color: #FAF7F0;
}
.high{
    background-color: #D9CDB8;
    min-width: 5vw;
} 
.btn{
    border: 2px solid #D9CDB8;
    min-width:5vw;
}
#app{
    max-width: 100%;
}
