/* .pace {
    display: none;
} */
.main-style {
    min-height: 100vh;
    background: url(../img/cover/cover-scrum-board.png) no-repeat fixed;
    background-size: 360px;
    background-position: right bottom;
}
body{
    background-color: #FAF6EF;
}
button.addTask{
    border: 2px solid lightcoral;
    background-color:#D9CDB8;
    width: 100px;
}
.toDo{
    background-color: rgb(193, 206, 142,0.8);
}
.inProgress{
    background-color: rgb(219, 227, 181,0.8);
}
.spinner-border{
    width: 15px; 
    height: 15px;
}
.done{
    background-color: rgb(223, 232, 204,0.8);
}
.tasksContainer{
    background-color: #E6EEC7;
}
.tasks{
    background-color: #FAF7F0;
}
.high{
    background-color: #D9CDB8;
    min-width: 5vw;
} 
.btn{
    border: 2px solid #D9CDB8;
    min-width:5vw;
}
#app{
    max-width: 100%;
}

/* modal  */
#modal-task{
    display: none;
    height: 90vh;
    width: 60vw; 
    border: 2px solid lightseagreen;
    border-radius: 10px;
    top: 50%;
    bottom: 0;
    left: 50%;
    right: 0;
    position: fixed;
    transform: translate(-50%, -50%);
}
.modal-header {
    width: 100%;
    background-color:#D9CDB8;
    color: white;
    padding: 2px 16px;
    text-align: center;
}
span.close{
    font-size: large;
    cursor: pointer;
}
  /* Modal Body */
  .modal-body {
    padding: 2px 16px;
    background-color:  #E6EEC7;
}

  /* Modal Footer */
  .modal-footer {
    padding: 2px 16px;
    background-color:rgb(223, 232, 204,0.8);
    color: white;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    /* background-color: #fefefe; */
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }

  /* Add Animation */
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }